@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #1F2041;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

/* Header  */

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 26px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.header__item {
  margin-right: 20px;
}

.header__link {
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.75;
}

/* Intro  */

.intro {
  height: 100vh;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  top: 70px;
}

.wrapper__intro {
  background-color: #fff;
  max-width: 380px;
  max-height: 374px;
  position: absolute;
  top: 70px;
  padding: 40px 30px;
}

.intro__title {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.text__intro {
  position: absolute;
  bottom: 18px;
  left: 700px;
}












font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;